$animtime: 1s;

h1 {
    font-size: 400%;
    animation: incoming $animtime;    
}

button {
    animation: incoming $animtime;
}

@keyframes incoming {
    from {
        transform: translateY(-10%);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}