
$selectc: #a5c7ff;
$animt: 1s;

button.menubutton {
    min-height: 20%;
    border-radius: 25px;
    font-size: 40px;
    font-weight: bold;
    color: inherit;
    padding: 20px 16px;
    margin: 20px;
    cursor: pointer;
    
    background: rgba(0, 0, 0, 0.2);
    will-change: color, border;
    border: 2px solid;
    transition: color $animt, border $animt;

    &:hover {

        border: 2px solid $selectc;
        color: $selectc;
    }

    &.selected {
        border: 2px solid $selectc;
        color: $selectc;
    }
}

