html, body {

	padding: 5px;
	height: 100%;
	font-family: 'Open Sans', 'Trebuchet MS', sans-serif;
	font-weight: 400;
	font-size: 24px;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

	background: #E88553;
	background: -webkit-linear-gradient(left top, #E88553, #D30808); /* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient(bottom right, #E88553, #D30808); /* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(bottom right, #E88553, #D30808); /* For Firefox 3.6 to 15 */
	background: linear-gradient(to bottom right, #E88553, #D30808); 
}

input.subb {
	font: inherit;
	font-size: inherit;
	background: grey;
	border: none;
	min-height: 34px;	
	padding: 0 6px;
}

h1 {
	color: white;
	text-align: center;
}

input.field {
	font-size: inherit;
	min-width: 30%;
	min-height: 32px;
	
	border: none;
	background: grey;
	background: rgba(0, 0, 0, 0.2);

	float: left;
}

